<div class="container-fluid">
  <div class="bookmarks-container">
    <div>
      <h3>Favoritos</h3>
      <div *ngIf="!(bookmarkList$ | async).length">
        Nenhum favorito adicionado
      </div>
      <ul>
        <li *ngFor="let bookmark of bookmarkList$ | async">
          <a>{{ bookmark.name }}</a>
          <button
            class="btn btn-outline-dark btn-sm ml-2"
            (click)="removeBookmark(bookmark.id)"
          >
            X
          </button>
        </li>
      </ul>
    </div>
    <div>
      <label>Adicionar cidade aos favoritos</label>
    </div>
  </div>
</div>
