<div class="container-fluid">
  <div class="bookmarks-container">
    <div>
      <h3>Favoritos</h3>
      <div *ngIf="!(bookmarkList$ | async).length">
        Nenhum favorito adicionado
      </div>
      <ul class="list-unstyled">
        <li *ngFor="let bookmark of bookmarkList$ | async">
          <a
            [routerLink]="['../details']"
            [queryParams]="{ lat: bookmark.coord.lat, lon: bookmark.coord.lon }"
          >
            {{ bookmark.name }}
          </a>
          <button
            class="btn btn-outline-dark btn-sm ml-2"
            (click)="removeBookmark(bookmark.id)"
          >
            X
          </button>
        </li>
      </ul>
    </div>
    <div class="form-group">
      <label>Adicionar cidade aos favoritos</label>
      <jv-cities-typeahead [formControl]="searchControlWithAutocomplete">
      </jv-cities-typeahead>
    </div>
  </div>
</div>
